.map-overlay {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background:rgba(0,0,0,.85);
    overflow: auto;
		color: white;
}

.h-line {
	width: 100%;
	border-bottom: 1px solid black;
}

#overlay-title {
	margin: 0 0 5px 0;
}

.inline {
	display: inline-block;
}

#overlay-data {
	right: 10px;
	width: 190px;
	height: 390px;
}
