label[for="nav-trigger"] {
    display: flex;
    position: fixed;
    background-color: #fc4e2a;
    text-align: center;
    vertical-align: sub;
    top: 100px;
    z-index: 2;
    width: 180px;
    height: 50px;
    cursor: pointer;
    background-size: contain;

    transition-property: background-color, color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

label[for="nav-trigger"]:hover {
    background-color: white;

    transition-property: background-color, color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

label[for="nav-trigger"]:hover > strong {
    color: #fc4e2a;
    transition: all 0.5s ease;
}


label[for="nav-trigger"] > strong{
    width: 175px;
    height: 12px;
    margin: auto;
    font-size: 1em;
    color: white;
    vertical-align: sub;
    font-family: 'Open Sans', sans-serif;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    top: 50px;
}


.nav-trigger:checked + label {
    left: 240px;
}

.nav-trigger:checked ~ #map {
    left: 240px;
    width: calc(100% - 240px);
}

.nav-trigger:checked ~ #menu {
    left: 0px;
}

.nav-trigger + label, #map {
    transition: left 0.4s;
}
